@model IEnumerable<Book>



   <div class="container">
       
           @foreach(var p in Model)
            {
       <div class="col-lg-4">
           <img class="img-thumbnail" src="@p.Image" alt="Image" />
           <h4>@p.Category</h4>
           
       </div>
            }
      
   </div>